{T  'member','head'}
<script src="{R}member/js/jscarousel.js" type="text/javascript"></script>
<link href="{R}css/validform.css" rel="stylesheet" />
<script src="{R}js/validform.min.js"></script>
<script type="text/javascript" src="{R}js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="{R}js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="{R}js/validform.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#jsCarousel').jsCarousel({ onthumbnailclick: function(src) {
            // 可在这里加入点击图片之后触发的效果
            $("#overlay_pic").attr('src', src);
            $(".overlay").show();
        }, autoscroll: true });

        $(".overlay").click(function(){
            $(this).hide();
        });
    });
</script>


<div class="container memberframe">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!--左侧开始-->
            <div class="memberleft">
                <div class="memberborder">
                    {T 'member','left'}
                </div>
            </div>
            <!--左侧结束-->

            <!--右侧开始-->
            <div class="memberright">

                <div class="memberbordertop">
                    <section class="panel">
                        <div class="panel-heading"><span class="title">管理设计师</span></div>

                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tabs1" id="1tab" role="tab" data-toggle="tab" aria-controls="tabs1" aria-expanded="true">设计师列表</a></li>
                              <li role="presentation" class=""><a href="#tabs2" role="tab" id="2tab" data-toggle="tab" aria-controls="tabs2" aria-expanded="false">新增设计师</a></li>
                            </li>
                        </ul>

                        <div id="myTabContent" class="tab-content tabsbordertop">

                            <div role="tabpanel" class="tab-pane fade active in" id="tabs1" aria-labelledby="1tab">
                                <div class="panel-body" id="panel-bodys">
                      {if $total}
                                    <table class="table table-striped table-advance table-hover text-center">
                                        <thead>
                                        <tr>
                                         <th class="tablehead"></th>
                                        <th class="tablehead">排名</th>
                                        <th class="tablehead">排序</th>
                                        <th class="tablehead">头像</th>
                                         <th class="tablehead">设计师姓名</th>
                                         <th class="tablehead">性别</th>
                                        <th class="tablehead">头衔</th>
                                         <th class="tablehead">电话</th>
                                        <th class="tablehead">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                           <form action="index.php?m=company&f=biz_design&v=sort" class="form-inline" method="post" target="_self">
                        <!-- <form action="index.php?m=company&f=biz_design&v=make_empty" class="form-inline" method="post" target="_self"> -->
                                       <?php
                                       $i=1; 
                                       foreach ($result as $key=>$r) { ?>
                                        <tr>
                                         <td class="center">
                                          <input type="checkbox" name="id[]" value="<?php echo $r['id'];?>">
                                          </td>

                                          <td class="orderlist"> <?php echo $r['index'];?></td>
                                           <td class="orderlist"><input type="text" class="center" style="width: 30px;padding:3px;" name="sorts[<?php echo $r[ 'id'];?>]" value="<?php echo $r[ 'sort'];?>"></td>
                                       

                                        <td class="orderlist"><img src="{getImgShownew($r['thumb'],'small_square')}" style="height: 62px;width: 90px;" class="img-circle"></td>

                                        <td class="orderlist">{$r['title']}</td>

                                        <td class="orderlist">
                                            {if $r['sex']==1}
                                              男
                                            {else}
                                            女
                                           {/if}
                                            </td>
                                            <td class="orderlist">{$r['ranks']}</td>
                                            <td class="orderlist">{$r['mobile']}</td>
                                            <td class="orderlist">{if $r['status']!=0}<a href="index.php?m=company&f=biz_design&v=edit&id={$r['id']}">修改</a> | <a href="index.php?m=company&f=biz_design&v=delete&id={$r['id']}" id="delDesigner" class="isDel">删除</a>{/if}</td>
                                        </tr>
                                       <?}?>
                            
                                </tbody>
                      </table>
                   <div class="pull-left">
                                        <input id="v" name="v" type="hidden" value="<?php echo V;?>">
                                        <button type="button" onClick="checkall()" name="submit2" class="btn btn-default btn-sm">全选/反选</button>
                                        <button type="submit" onclick="$('#v').val('sort')" name="submit" class="btn btn-default btn-sm">排序</button>
                                        <button type="submit" onclick="$('#v').val('make_empty')" class="btn btn-default btn-sm">批量删除</button>
                        </div>
                          
                      </form>
                      {else}
                              <table class="table table-striped table-advance table-hover text-center">
                                    <thead>
                                    <tr style="font-family:宋体;font-size:14px">
                                        <th class="tablehead" style="height:180px;font-size: larger">您目前还未创建设计师，快去<a href="#tabs2" role="tab" id="2tab" class="tz" data-toggle="tab" aria-controls="tabs2" aria-expanded="false"><u color="red"><b>创建</b></u></a>吧</th>
                                    </tr>
                                    </thead>
                                </table>
                            {/if}

               
                </div>
                

                                {if $total>10}
                                <div class="paginationpage text-center">
                                    <nav>
                                        <ul class="pagination">
                                            {$pages}
                                        </ul>
                                    </nav>
                                </div>
                                {/if}
                  </div>


                            <div role="tabpanel" class="tab-pane fade " id="tabs2" aria-labelledby="2tab" >

                                <form name="myform" class="form-horizontal" action="index.php?m=company&f=biz_design&v=add" method="post" id="myform">
                                    <table class="table table-striped table-advance table-hover text-center">
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod"><font color="red">*</font> 设计师姓名：</label><div class="col-sm-4 text-left">
                                                <input type="text" style="color:#" name="form[title]" id="title" maxlength="50" value="" class="form-control" datatype="*2-50" nullmsg="设计师姓名" errormsg="设计师姓名至少2个字符,最多50个字符！">                                       </div></div></td>
                                        </tr>
                                            
                                        <div class="tip" style="display:none;z-index:100;background:white;width:208px;height:60px;border:1px solid black;position:absolute;left:650px;top:300px;">
                                            <div style="width:100%;height:26px;background:black;font-weight: bolder;color:white;padding-left:5px;">提示信息</div>
                                            <div>设计费应为数字</div>
                                        </div>
                                        <tr class="sjf">
                                            <td>
                                                <div class="form-groupinfo">
                                                    <label class="col-sm-2 control-label text-right text-blod">设计费:</label>
                                                    <div class="col-sm-4 text-left" style="width:500px;">
                                                        <input type="text" name="form[lowestcost]"  id="lowestcost" value="" style="width:90px;height:34px;"> 
                                                        — <input type="text" name="form[maximumcost]" id="maximumcost" value="" style="width:90px;height:34px;">
                                                        <label>元/平米(不填为面议)</label><label style="color:red"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>



                                        {loop $field_list $info}
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod">{if $info['star']}<font color="red">*</font>{/if} {$info['name']}：</label><div class="col-sm-10 text-left" id="pp{$info['field']}">
                                                {$info['form']}
                                            </div></div></td>
                                        </tr>
                                        {/loop}
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right text-blod">{if $info['star']}<font color="red">*</font>{/if} {$formdata['5']['content']['name']}：</label><div class="col-sm-10 text-left">
                                                {$formdata['5']['content']['form']}
                                            </div></div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="form-groupinfo"><label class="col-sm-2 control-label text-right"> </label><div class="col-sm-3 text-left"><input type="submit" name="submit" id="submit" value="提交" class="btn btn-order"></div></div></td>
                                        </tr>
                                    </table>
                                </form>

                            </div>

                        
                     </div>

                    </section>
                </div>

            </div>
            <!--右侧结束-->


        </div>
    </div>
</div>
<script>
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:1
        });

        var m = $("tr[class=sjf]").insertAfter($("select:first").parents("tr"));

    })

    $(document).ready(function(){
        $("#lowestcost").removeAttr("nullmsg");
        $("#lowestcost").removeAttr("class");

    })

    $(".form-horizontal").Validform({
        tiptype:1,
        datatype:{//传入自定义datatype类型【方式二】;

            "max2":function(gets,obj,curform,regxp){
                var atmax=3,
                        numselected=curform.find("input[name='"+obj.attr("name")+"']:checked").length;

                if(numselected==0){
                    return false;
                }else if(numselected>atmax){
                    return "擅长风格 最多只能选择"+atmax+"项！";
                }
                return  true;
            }

        }
    });

    $("#submit").click(function(){
        t=setTimeout("hide_formtips()",5000);
    });

    function hide_formtips() {
        $.Hidemsg();
        clearInterval(t);
    }
    $(".tz").click(function(){
        $("#myTab li:eq(0)").removeAttr("class");//移除属性
        $("#myTab li:eq(1)").addClass("active");//添加active的属性
    })

    

    $("#submit").click(function(){
        var reg = new RegExp("^[0-9]+$"); 
        var v1=parseInt($("#lowestcost").val());
        var v2=parseInt($("#maximumcost").val());
        if($("#lowestcost").val()!='' && $("#maximumcost").val()!='' ){

            if (isNaN(v1) || isNaN(v2)) {
              
                    alert("请输入数字");
                    return false;
              
            }
           
            if (v1&&v2) {
                if (v1>v2) {
                    alert("最低费用不能高于最高费用");
                    return false;
                }
            }
        }
        
    })
     $(".isDel").click(function(){
        if (!confirm("设计师被删除后不可恢复！\n确认要删除选择的设计师？")) {
            return false;
        }
    })
</script>
<!--正文部分-->
{T  'member','foot'}
