<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<!--iphone桌面快捷方式图标<link rel="apple-touch-icon" href="custom_icon.png">-->
<meta charset="utf-8">
<meta name="keywords" content="装修管家,量房设计,装修施工,材料商城,环保方案,装修服务,装修图库,建材商城,装修攻略、优装网、装修网、优装美家">
<meta name="description" content="优装美家为您提供免费专业咨询、免费量房、免费设计、免费装修保险、免费环保检测、优装网-专业装修网优选装修公司、优选建材商品、优选装修管家、优选环保服务">
<title>优装美家—管家式装修服务 有品质的低价</title>
<link href="{R}msite/app_share/css/app_share.css" rel="stylesheet" type="text/css">
<div style="display:none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?db5a9f8c0a86612046a5b5353db384c5";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb5fdc578640695ab74da0b40389ac54e' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
</head>
<body>
<div id='share_logo' style='margin:0 auto;display:none;'>
  <img src="{R}msite/base/img/share_logo.jpg"/>
</div>
<header>
	<h1 class="header-title">装修帮帮帮</h1>
</header>
<section id="question-box">
	<!-- <div class="user-info">
		<img src="img/user_face.png" alt="" class="user-face" />
		<p class="user-name">付峰</p>
	</div>
	<div class="question-content">
		<h2 class="question-title">主卧吊顶衣橱需要注意哪些事项主卧吊顶衣橱需要注意哪些事项主卧吊顶衣橱需要注意哪些事项...</h2>
		<p class="question-info">如题，最近家里装修，不知道主卧吊顶衣橱需要有哪些方面注意一些如题，最近家里装修，不知道主卧吊顶衣橱需要有哪些方面注意一些如题，最近家里装修，不知道主卧吊顶意一些</p>
		<div class="question-img clearfix">
			<div class="question-simg"><img src="img/question_img.jpg" alt="" /></div>
			<div class="question-simg"><img src="img/question_img.jpg" alt="" /></div>
			<div class="question-simg"><img src="img/question_img.jpg" alt="" /></div>
			<div class="question-limg"><img src="img/question_img2.jpg" alt="" /></div>
		</div>
	</div> -->
</section>
<section id="answer-box">
	<!-- <ul class="answer-content">
		<li class="answer-li">
			<div class="answers-info clearfix">
				<img src="img/user_face.png" alt="" class="answers-face" />
				<div>
					<p class="answers-name">付峰</p>
					<span class="job">管家</span>
				</div>
			</div>
			<div class="answer-data">
				<p class="detail-answer">一个帮你收集、发现网络上你喜欢的事物的网站。画板是某种主题的集合用户可以把各种各样的采集放入不同画发现网络上你喜欢的事，发现网络上你喜欢的事发现网络上你发现网</p>
				<span class="answer-time">15分钟前</span>
			</div>
		</li>
	</ul> -->
</section>
<section>
	<div class="download-app">
		<a href="">
			<img class="download-icon" src="{R}msite/app_share/img/app_icon.png" alt="" />
			<div class="download-info">
				<p>想要了解更多装修问题</p>
				<p>快去下载app吧</p>
			</div>
			<img class="go-download" src="{R}msite/app_share/img/go_download.png" alt="" />
		</a>
	</div>
</section>
<div class="down-page">加载中...</div>
<script type="text/template" id="question-data">
	<div class="user-info">
		<% if(data1.member.avatar){ %>
			<img src="<%= data1.member.avatar %>" alt="" class="user-face" />
		<% } else {%>
			<img src="{R}msite/app_share/img/user_face.png" alt="" class="user-face" />
		<% } %>
		<p class="user-name"><%= data1.member.nickname %></p>
	</div>
	<div class="question-content">
		<h2 class="question-title"><%= data1.title %></h2>
		<p class="question-info"><%= data1.content %></p>
		<% if(data1.attach){ %>
			<div class="question-img clearfix">
				<% if(data1.attach.length == 1){ %>
					<div class="question-limg"><img src="<%= data1.attach[0] %>" alt="" /></div>
				<% } else{ %>
					<% for(var i=0; i<data1.attach.length; i++){ %>
						<div class="question-simg"><img src="<%= data1.attach[i] %>" alt="" /></div>
					<% } %>
				<% } %>
			</div>
		<% } %>
	</div>
</script>
<script type="text/template" id="answer-data">
	<% for(var i=0; i<data2.length; i++){ %>
		<% var item = data2[i] %>
		<% if(item.founder == 0){ %>
			<li class="answer-li">
				<div class="answers-info clearfix">
					<% if(item.avatar){ %>
						<img src="<%= item.avatar %>" alt="" class="answers-face" />
					<% } else {%>
						<img src="{R}msite/app_share/img/manager_face.png" alt="" class="answers-face" />
					<% } %>
					<div>
						<p class="answers-name"><%= item.aname %></p>
						<span class="job">管家</span>
					</div>
				</div>
				<div class="answer-data">
					<p class="detail-answer"><%= item.content %></p>
					<% if(item.attach){ %>
						<div class="question-img clearfix">
							<% if(item.attach.length == 1){ %>
								<div class="question-limg"><img src="<%= item.attach[0] %>" alt="" /></div>
							<% } else{ %>
								<% for(var i=0; i<item.attach.length; i++){ %>
									<div class="question-simg"><img src="<%= item.attach[i] %>" alt="" /></div>
								<% } %>
							<% } %>
						</div>
					<% } %>
					<span class="answer-time"><%= item.atime %></span>
				</div>
			</li>
		<% } %>
		<% if(item.founder == 1){ %>
			<li class="answer-li">
				<div class="answers-info clearfix">
					<% if(item.avatar){ %>
						<img src="<%= item.avatar %>" alt="" class="answers-face" />
					<% } else {%>
						<img src="{R}msite/app_share/img/user_face.png" alt="" class="answers-face" />
					<% } %>
					<div>
						<p class="answers-name"><%= item.aname %></p>
					</div>
				</div>
				<div class="answer-data">
					<p class="detail-answer"><%= item.content %></p>
					<% if(item.attach){ %>
						<div class="question-img clearfix">
							<% if(item.attach.length == 1){ %>
								<div class="question-limg"><img src="<%= item.attach[0] %>" alt="" /></div>
							<% } else{ %>
								<% for(var i=0; i<item.attach.length; i++){ %>
									<div class="question-simg"><img src="<%= item.attach[i] %>" alt="" /></div>
								<% } %>
							<% } %>
						</div>
					<% } %>
					<span class="answer-time"><%= item.atime %></span>
				</div>
			</li>
		<% } %>
	<% } %>
</script>

<script type="text/javascript" src="{R}msite/base/js/zepto.min.js"></script>
<script type="text/javascript" src="{R}msite/base/js/underscore-template.js"></script>
<script type="text/javascript" src="{R}msite/base/js/base.js"></script>
<script type="text/javascript" src="{R}msite/app_share/js/app_share.js"></script>
</body>
</html>