#designer{
	position: relative;
	margin: 3.4375rem 0 0;
	text-align: center;
}
.face{
	display: inline-block;
	width: 3.5625rem;
	height: 3.5625rem;
	margin-bottom: 0.375rem;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.designer-name{
	font: normal 0.9375rem "STHeitiSC-Light", "Microsoft YaHei";
	color: #333;
}
.designer-info p{
	font: 0.75rem "STHeitiSC-Light", "Microsoft YaHei";
	line-height: 1.3125rem;
	color: #6d6d6d;
}
.designer-info{
	margin-bottom: 0.75rem;
}
.designer-btn{
	position: absolute;
	left: 50%;
	height: 1.3125rem;
}
.designer-btn a{
	float: left;
	display: block;
	width: 83px;
	height: 21px;
	line-height: 22px;
	color: #fff;
	font-size: 11px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}
#order{
	margin-right: 20px;
	background-color: #ff6600;
}
#collect{
	background-color: #1fbaf2;
}
#collect .iconfont{
	display: inline-block;
    font-size: 0.6875rem;
    -webkit-transform: scale(1.8,1.8) translate(-3px,0);
	-moz-transform: scale(1.8,1.8) translate(-3px,0);
	-ms-transform: scale(1.8,1.8) translate(-3px,0);
	-o-transform: scale(1.8,1.8) translate(-3px,0);
	transform: scale(1.8,1.8) translate(-3px,0);
}

#personal{
	padding: 3.625rem 0.625rem 0;
	text-align: left;
}
#personal h3{
	margin-bottom: 0.5rem;
	font: normal 0.8125rem "STHeitiSC-Light", "Microsoft YaHei";
	color: #333;
}
#personal-info{
	margin-bottom: 0.75rem;
}
#personal-info p{
	font: normal 0.75rem/1.25rem "STHeitiSC-Light", "Microsoft YaHei";
	color: #333;
}
#all-info{
	float: left;
    margin-bottom: 0.75rem;
    font: normal 0.75rem "STHeitiSC-Light", "Microsoft YaHei";
    color: #1f96f2;
    cursor: pointer;
	display: none;
}
.container{
	clear: both;
}
#works{
	height: 2.5rem;
	border-top: 1px solid #f3f3f3;
}
#works h3{
	float: left;
	margin: 0 0.625rem;
	font: normal 0.875rem/2.5rem "STHeitiSC-Light", "Microsoft YaHei";
	color: #333;
}
.works-num{
	font: normal 0.75rem/2.6rem "STHeitiSC-Light", "Microsoft YaHei";
	color: #999;
}
.works-num span{
	color: #333;
}

@media only screen and (min-width: 359px) {
.designer-btn a{
	float: left;
	display: block;
	width: 94px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	font-size: 14px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
}
}
@media only screen and (min-width: 383px) {
.designer-btn a{
	float: left;
	display: block;
	width: 100px;
	height: 27px;
	line-height: 27px;
	color: #fff;
	font-size: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
}
}
@media only screen and (min-width: 413px) {
.designer-btn a{
	float: left;
	display: block;
	width: 108px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	font-size: 16px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
}