@charset "utf-8";

@font-face {font-family: "iconfont";
  src: url('../../base/iconfont/iconfont.eot'); /* IE9*/
  src: url('../../base/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../base/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../../base/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../../base/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
@media only screen and (min-width: 359px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 383px) {
  html {
    font-size: 19.2px;
  }
}
@media only screen and (min-width: 413px) {
  html {
    font-size: 20.7px;
  }
}
@media only screen and (max-width: 358px) and (max-height: 420px) {
  /*iphone4*/
}
@media only screen and (min-width: 383px) and (max-height: 570px) {
  /*MeiZu*/
}
body{
  margin: 0;
  padding: 0;
  font-family: "STHeitiSC-Medium","Droid Sans Fallback","Microsoft YaHei";
  background-color: #000;
}
a{
  text-decoration: none;
}

#pic-list img{
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 1.125rem;
  vertical-align: middle;
}
#pic-list p{
  text-align: center;
  letter-spacing: 0.125rem;
  font-size: 0.6875rem;
  color: #fff;
}