@charset "utf-8";
/* index wushi 2016-01-13 */
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding:0; margin:0;} 
table {border-collapse:collapse; border-spacing:0;} 
fieldset,img,abbr,acronym{border:0;} 
address,caption,cite,code,dfn,em,th,var {font-weight: normal;font-style: normal;} 
ol,ul,li{list-style: none;} 
caption,th {text-align: left;} 
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;} 
q:before,q:after {content:”;} 
body{background:#fff;font-size:12px;font-family:"SimSun","Arial Narrow";}
textarea {outline: none; resize: none; overflow:auto;}
img{vertical-align:middle;}
:focus{outline:0;}
.fix,.wrap1220,.wrap1218{*zoom: 1;}
.fix:after,.wrap1220:after,.wrap1218:after{content: "";visibility: hidden;display: block;height: 0;clear: both;}
a{color:#000; text-decoration:none;}a:hover{ color:#000;}
a img {border: none;text-decoration: none;}
label, button,a {cursor: pointer;}
p{word-wrap:break-word;}
.clear{ clear:both; height:1px; overflow:hidden;}
/* layout */
.col-center,.col-left,.col-right,.fl,.fr{float:left;display:inline}
.col-right,.fr{float:right; display:inline;}
.wrap1220{margin:0 auto;width:1220px}
.wrap1218{margin:0 auto;width:1218px}
/* 模块化 */
.mod{position:relative; background:none;}
.bd,.hd{clear:both;}
.h2 .more,.hd .more,.imore{float:right;display:inline}
.imore{text-indent:-999px}
.hd .icon{position:absolute;overflow:hidden}
.no{display:none!important}
.yes{display:block!important}
.noBor{border:none!important}
.line{overflow:hidden;height:1px}
/* 基础定义 */
.tMar10{ margin-top:10px !important;}
.lMar10{ margin-left:10px !important;}
.rMar10{ margin-right:10px !important;}
.bMar10{ margin-bottom:10px !important;}
.noMar{ margin:0px auto !important;}
.tPad10{ padding-top:10px !important;}
.lPad10{ padding-left:10px !important;}
.rPad10{ padding-right:10px !important;}
.bPad10{ padding-bottom:10px !important;}
.tlMar10{ margin:0 10px!important;}
.btMar10{ margin:10px 0 !important;}
.tlPad10{ padding:0 10px!important;}
.btPad10{ padding:10px 0 !important;}
.noPad{ padding:0px !important;}
a{transition: all 200ms ease;
-moz-transition: all 200ms ease; /* Firefox 4 */
-webkit-transition: all 200ms ease; /* Safari 和 Chrome */
-o-transition: all 200ms ease; /* Opera */}
/* common */
/* top */
.top{ height:80px;}
.top .logo{ float:left; margin:15px 0 0 0; display:inline;}
#choose-citys { color:#5c5c5c; float:left; position:relative; margin:33px 0 0 25px; display:inline; width:57px; cursor:pointer}
#choose-citys a{ color:#5c5c5c;}
#choose-citys .icon{ position:absolute; top:5px; left:33px; width:9px; height:5px; overflow:hidden; background:url(../images/img/common_v1.png) no-repeat 0 0; cursor:pointer;}
/* menu */
.menu{ font:16px/18px "Microsoft YaHei"; float:left; margin:30px 0 0 0;}
.menu li{ float:left; margin:0 15px; position:relative;}
.menu li .icon{ height:18px; padding:0 5px; font:10px/18px "Arial"; background:#f60; color:#fff; position:absolute; right:-32px; top:-19px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;}
.menu li a{ color:#333;}

/* 图文混排*/
.imgTxt{clear:both; overflow:hidden; *zoom:1;}
.imgTxt .pic{ float:left; display:inline; margin:0 10px 0 0; text-align:center; overflow:hidden;}
.imgTxt .pic img{ overflow:hidden; vertical-align:top; margin:0 auto;}
.imgTxt .h4,.imgTxt .desc{ overflow:hidden;}
.imgTxt01{ float:left; font:12px/18px "Microsoft YaHei"; clear:none; margin:10px 0 0 15px;}
.imgTxt01 .pic{ margin-right:10px;}
.imgTxt01 .h4{ font-size:14px; color:#333; display:inline-block; margin-top:11px;}
.imgTxt01 .desc{ color:#b1b1b1;}
/* nav */
.top .txt{ float:right; display:inline; color:#777; font:12px/80px "Microsoft YaHei"; margin-right:-5px; display:inline;}
.top .txt a{ color:#777; margin:0 5px; overflow: hidden; display: inline-block; vertical-align: middle; height: 80px; text-align: left;}
.top .txt .login{ text-align:right; width:90px}
/* footer */
.footer{ clear:both; background:#f7f7f7; padding:0 0 120px 0; border-top: 1px solid #f0f0f0;}
.footer .imgTxt{ float:left; display:inline; margin:82px 0 0 30px;}
.footer .imgTxt .pic{ float:left; display:inline; text-align:center; overflow:hidden;}
.footer .imgTxt .pic img{ height:43px; width:43px; background:url(../images/img/common_v1.png) no-repeat -67px 0; overflow:hidden; vertical-align:top; margin:0 auto;}
.footer .imgTxt dd{ margin-left:54px;}
.footer .imgTxt .tel{ font:bold 24px/24px "Arial"; color:#f60;}
.footer .imgTxt .time{ color:#adadad; line-height:26px;}
.footer .imgTxt .btn a{ display:inline-block; background:#f60; height:40px; line-height:40px; font-size:14px; color:#fff; padding:0 12px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; cursor:default; border-radius:4px; text-decoration:none !important;}
.footer .ft-info{ float:left; color:#aaa; line-height:18px; margin:85px 0 0 90px;}
.footer .ft-info .ft-links{ color:#d6d6d6; font-size:12px; margin:0 0 15px -5px;}
.footer .ft-info .ft-links a{ color:#727272; margin:0 6px 0 5px;}
.col-888{ color:#888;}
.footer .code{ float:right; margin:40px 64px 0 0; display:inline; color:#727272; font:16px/27px "Microsoft YaHei"; text-align:center;}
/*  */
.footer .minjing {
  display: inline-block;
  margin-right: 9px;
  width: 30px;
  height: 31px;
  background: url(../images/img/minjing.png) no-repeat;
}
.footer .chengxin {
  display: inline-block;
  margin-right: 9px;
  width: 34px;
  height: 31px;
  background: url(../images/img/chengxin.png) no-repeat;
}
.footer-link {
  margin-top: 4px;
  margin-right: 15px;
  line-height: 31px;
  color: #727272;
}
/* friend_links */
.friend_links{ background:#fcfcfc; font:12px/22px "Microsoft YaHei"; color:#333; padding:15px 0;}
.friend_links dt{ margin-bottom:6px; font-weight:bold;}
.friend_links dd{ height:66px; overflow:hidden;}
.friend_links a{ margin-right: 10px; color:#666; white-space:nowrap;}
.friend_links a:hover{color:#f60;}
/* 图文混排*/
.t-c{ text-align:center; height:125px;}
.imgTxt02{ display:inline-block;*display:inline;*zoom:1; margin:0 5px; width:306px; height:120px; border:solid 1px #eaeaea; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; text-align:left;}
.imgTxt02 .pic{ height:48px; background:url(../images/img/index-bg.png) no-repeat; margin-right:23px;}
.imgTxt02 .tit{ font:24px/20px "Microsoft YaHei"; height:26px; color:#333; }
.imgTxt02 .desc{ font:16px/26px "Microsoft YaHei"; color:#afafaf;}
.imgTxt02 .icon01{ width:48px; background-position:0 -228px; margin-left:58px;}
.imgTxt02 .icon02{/*zx*/ width:50px; background-position:0 -305px; margin-left:51px;}
.imgTxt02 .icon03{ width:46px; background-position:0 -374px; margin-left:60px;}
.imgTxt02 a{ height:86px; display:block; padding-top:36px;}
.imgTxt02 a:hover{ background:#f8f9f9; text-decoration:none;}
.tMar25{ margin-top:25px;}
/* hd */
.wrapLine{ background:url(../images/img/index-newbg.png) repeat-x 0 -1686px;}
.tMar20{ margin-top:20px;}
.tMar30{ margin-top:30px;}
.tMar40{ margin-top:40px;}
.tMar50{ margin-top:50px;}
.tMarN50{ margin-top:-50px;}
.tMar60{ margin-top:60px;}
.tMar70{ margin-top:70px;}
.tMar110{ margin-top:110px;}
.hd01{ text-align:center; overflow:inherit;}
.hd01 .tit{ font:32px/32px "Microsoft YaHei"; background:#fff; padding:0 30px; position:relative; z-index:10; display:inline-block; *display:inline; *zoom:1; }
.hd01 .tit a{ color:#333;}
.hd01 .tit a:hover{color:#f60;}
.hd01 .desc{ font:14px/14px "Microsoft YaHei"; color:#999; margin-top:15px;}
.hd02{ font:26px/26px "Microsoft YaHei"; color:#333;}
/* List */
.List li{ overflow:hidden;}
.w616{ width:616px;}
.Lists01 li{ float:left; height:50px; width:288px; font:18px/50px "Microsoft YaHei"; text-indent:30px; margin:30px 20px 0 0; display:inline;}
.Lists01 li a{ color:#666; display:block; background:#f7f7f7 url(../images/img/index-newbg.png) no-repeat 158px 18px; padding-right:40px;}
.Lists01 li a:hover{background:#569ee2 url(../images/img/index-newbg.png) no-repeat 158px -25px; color:#fff;}
.w260{ width:260px;}
.borB{ border-right:solid 1px #eee;}
.Lists02{ margin-top:-7px;}
.Lists02 li a{ height:39px; display:block; font:14px/39px "Microsoft YaHei"; background:url(../images/img/index-newbg.png) no-repeat -97px -1461px; padding-left:15px;}
.Lists02 li a:hover{ color:#f60; background:url(../images/img/index-newbg.png) no-repeat -97px -1488px;}
/* serviceMod */
.w593{ width:593px;}
.serviceMod .pic{ display:block; text-align:center;}
.serviceMod .tit{ float:left; background:#8194a5; color:#fff; font:28px/45px "Microsoft YaHei"; height:45px; padding:0 15px;}
.serviceMod .desc{ font:20px/43px "Microsoft YaHei"; height:43px; color:#6d7a87; border:solid 1px #8194a5; text-align:center;}
/* 图文混排*/
.imgList{ text-align:center; overflow:hidden;}
.imgList li{ float:left; position:relative;}
.imgList .pic{ display:block;}
.imgList .pic img{ vertical-align:top; margin:0 auto;}
.imgList .txt{ overflow:hidden;}

.imgList01{ margin-left:-25px;}
.imgList01 li{ cursor: pointer; margin-left:25px; display:inline; width:390px; height:260px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; overflow:hidden;}
.imgList01 li .mask,.imgList01 li .txt{ height:46px; width:100%; position:absolute; left:0; bottom:0;}
.imgList01 li .mask{ background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
.imgList01 li .txt{ font:16px/46px "Microsoft YaHei"; color:#fff; text-indent:15px;}
.imgList01 li .txt a{ color:#fff;}
.imgList01 li .txt a:hover{color: #f60;}
.imgList01 li img,.imgList03 li img{ filter: alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;transition: all 200ms ease;
-moz-transition: all 200ms ease; /* Firefox 4 */
-webkit-transition: all 200ms ease; /* Safari 和 Chrome */
-o-transition: all 200ms ease; /* Opera */}
.imgList01 li a:hover img,.imgList03 li a:hover img{  filter: alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1;}

.imgList02{ margin:-20px 0 0 -20px; text-align:left;}
.imgList02 li{ margin:20px 0 0 20px; display:inline; color:#fff; overflow:hidden; width: 380px; height: 240px;}
.imgList02 li .mask{ position:absolute; left:0; bottom:0; width:100%; height:100%; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; background:#000;}
.imgList02 li .txt{ position:absolute; left:0; bottom:0; width:100%; height:56px; display:none;}
.imgList02 li .tit{ height:34px; font:14px/34px "Microsoft YaHei"; overflow:hidden; position:relative; z-index:10; margin:0 12px;}
.imgList02 li .desc{ position:relative; z-index:10; margin:0 12px;}
.imgList02 li .num,.imgList02 li .love{ background:url(../images/img/index-newbg.png) no-repeat; padding-left:25px; margin-left:15px;}
.imgList02 li .num{ background-position:-79px -202px;}
.imgList02 li .love{ background-position:-79px -167px;}
.imgList02 a{ color:#fff;}
.imgList02 .hd_img{ width: 420px; height: 500px;}
.imgList02 .hd_img .txt{ height:74px;}
.imgList02 .hd_img .tit{ height:48px; font:16px/52px "Microsoft YaHei"; overflow:hidden;}


.w920{ width:920px; padding-right:20px;}
.imgList03{ margin:-20px 0 0 -20px; text-align:left;}
.imgList03 li{ margin:20px 0 0 20px; display:inline;}
.imgList03 li .mask{ position:absolute; left:0; bottom:0; width:100%; height:38px; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; background:#000;}
.imgList03 li .txt{ position:absolute; left:0; bottom:0px; width:100%; height:38px; font:14px/38px "Microsoft YaHei"; text-indent:10px;}
.imgList03 li a{ color:#fff;}
.imgList03 .hd_img{ width: 370px; height: 380px;}
.imgList03 .hd_img .mask{  height:48px; }
.imgList03 .hd_img .txt{ height:48px; font:16px/48px "Microsoft YaHei"; text-indent:15px;}
.imgList03 .odd{ width: 180px; height: 180px;}
.imgList03 .even{ width: 330px; height: 180px;}
/* brandMod*/
.w900{ width:900px;}
.brandMod{ margin-top:1px; text-align:center; font:14px/24px "Microsoft YaHei";}
.brandMod li{ float:left; width:179px; height:118px; border:solid 1px #eeeeee; margin:-1px 0 0 -1px; display:inline; position:relative; overflow:hidden;}
.brandMod .mask{  background:#569ee2; position:absolute; width:100%; height:100%; top: 100%;}
.brandMod a{ color:#fff;}
.brandMod .user,.brandMod .case{ padding:0 20px 0 40px; display:inline-block; background:url(../images/img/index-newbg.png) no-repeat; height:24px; overflow:hidden;}
.brandMod .user{ background-position:-66px -88px; margin-top:34px;}
.brandMod .case{ background-position:-66px -122px;}
/* more*/
.top_info { clear:both; height:43px; font:14px/43px "Microsoft YaHei"; color:#999; overflow:hidden;}
.top_info a{ color:#999;}
.top_info a:hover{ color:#f60;}
/* iconNav*/
.iconNav{ margin-left:-40px;}
.iconNav li{ float:left; width:100px; text-align:center; margin:20px 0 0 40px; display:inline; background:url(../images/img/index-newbg.png) no-repeat 0 -1566px;}
.iconNav li .icon{ display:block; height:62px; background:url(../images/img/index-newbg.png) no-repeat; margin-bottom:10px;transition: all 300ms ease;
-moz-transition: all 300ms ease; /* Firefox 4 */
-webkit-transition: all 300ms ease; /* Safari 和 Chrome */
-o-transition: all 300ms ease; /* Opera */}
.iconNav li .icon01{ background-position: 0 -242px;}
.iconNav li a:hover .icon01{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -304px;}
.iconNav li .icon02{ background-position: 0 -366px;}
.iconNav li a:hover .icon02{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -428px;}
.iconNav li .icon03{ background-position: 0 -490px;}
.iconNav li a:hover .icon03{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -552px;}
.iconNav li .icon04{ background-position: 0 -614px;}
.iconNav li a:hover .icon04{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -676px;}
.iconNav li .icon05{ background-position: 0 -738px;}
.iconNav li a:hover .icon05{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -800px;}
.iconNav li .icon06{ background-position: 0 -862px;}
.iconNav li a:hover .icon06{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -924px;}
.iconNav li .icon07{ background-position: 0 -986px;}
.iconNav li a:hover .icon07{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -1048px;}
.iconNav li .icon08{ background-position: 0 -1110px;}
.iconNav li a:hover .icon08{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -1172px;}
.iconNav li .icon09{ background-position: 0 -1234px;}
.iconNav li a:hover .icon09{ background:#569ee2 url(../img/index-newbg.png) no-repeat 0 -1296px;}
.iconNav a{ color:#666; font:14px/16px "Microsoft YaHei";}
.iconNav a:hover{ color:#569ee2;}
/* storeMod */
.borA{ border:solid 1px #eee;}
.w908{ width:908px;}
.storeMod{ margin-top:1px;}
.storeMod dl{ float:left; border:solid 1px #eee; text-align:center; margin:-1px 0 0 -1px; display:inline;}
.storeMod .tit{ font:18px/18px "Microsoft YaHei"; height:18px; overflow:hidden; background:url(../img/index-newbg.png) no-repeat -66px -1380px; display:inline-block;*display:inline;*zoom:1; padding-left:55px; margin:30px 0 20px 0;}
.storeMod .tit a{ background:url(../img/index-newbg.png) no-repeat right -1427px; padding-right:55px;}
.storeMod .desc{font:12px/12px "Microsoft YaHei"; margin-bottom:40px; height:12px; overflow:hidden;}
.storeMod a{ color:#666;}
.storeMod .no1{ width:250px; height:240px;}
.storeMod .no2{ width:405px; height:240px;}
.storeMod .no3{ width:250px; height:230px;}
.storeMod .no4{ width:202px; height:230px;}
.storeMod a:hover{ color:#f60;}
/* logoMod */
.logoMod{ clear:both; text-align:center; font:20px/30px "Microsoft YaHei"; border-left:solid 1px #eee; border-right:solid 1px #eee;}
.logoMod li{ float:left; width:203px; height:88px; overflow:hidden; border:solid 1px #eeeeee; border-right:none; margin:-1px 0 0 -1px; display:inline; position:relative;}
.logoMod .mask{ background:#569ee2; position:absolute; width:100%; height:100%; top: 100%;}
.logoMod a{ color:#fff;}
.logoMod .tit{ display:block; font:20px/30px "Microsoft YaHei"; height:30px; overflow:hidden; margin-top:15px;}
.logoMod .desc{ display:block; font:16px/26px "Microsoft YaHei"; height:26px; overflow:hidden;}
/* footFloor */
/*.footFloor{ height:100px; background:url(../img/footFloor.png) repeat-x; position: fixed; bottom: 0px;  z-index: 997;  width: 100%;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - 215))}*/
.footFloor .wrap1220{ position:relative;}
.footFloor .footIcon{ position:absolute; top:-46px; left:0; width:380px; height:142px; background:url(../img/footImg.png) no-repeat; text-indent:-99999px;}
.footFloor .close{ width:19px; height:18px; position:absolute; right:0; top:46px; background:url(../images/img/index-newbg.png) no-repeat -81px -1531px; text-indent:-99999px; cursor:pointer;}
.min_footFloor{ height:100px; width:150px; background:url(../img/min_footFloor.png) no-repeat; position:fixed; bottom:30px; z-index: 9999; cursor:pointer; text-indent:-99999px;}
/* 文字列表 */
/*index banner*/
#index-banner img {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1800px;
	margin-left: -900px;
}
#index-banner li {
	width: 100% !important;
}
.banner .bx-wrapper {
	width: 100% !important;
}

.banner {
	position: relative;
	height: 460px;
	width: 100%;
	overflow: hidden;
	min-width:1220px;
	text-align:center;
}
.banner .bx-controls-direction a {
    background: url(../../base/img/common.png) no-repeat 13px -206px;
    display: block;
    height: 160px;
    width: 60px;
    top: 150px;
    position: absolute;
    text-indent: -99999px;
}
.banner .bx-controls-direction .bx-prev {
    left: 0;
	background: url(../../base/img/common.png) no-repeat 13px -206px;
}
.banner .bx-controls-direction .bx-next {
    background: url(../../base/img/common.png) no-repeat -49px -206px;
    right: 0;
}
.banner .bx-controls-direction .bx-prev:hover{
	background:rgba(0,0,0,0.2) url(../../base/img/common.png) no-repeat 13px -367px;
	-webkit-border-radius:0 3px 3px 0;
	-ms-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0
}
.banner .bx-controls-direction .bx-next:hover{
	background:rgba(0,0,0,0.2) url(../../base/img/common.png) no-repeat -49px -367px;
	-webkit-border-radius:3px 0 0 3px;
	-ms-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px
}
#fur-slider .bx-controls-direction a {
	top:50%;
	margin-top:-40px;
	text-indent:-99999px;
    outline: 0;
    width: 38px;
    height: 80px;
    background-image: url(../../base/img/brands-arrow.png);
    background-repeat: no-repeat;
    cursor: pointer;
	position:absolute;
}
#fur-slider .bx-controls-direction a:hover{
	background-image:url(../../base/img/brands-arrow-ov.png)
}
#fur-slider .bx-controls .bx-prev {
    left: 0;
    background-position: 0 0;
}
#fur-slider .bx-controls .bx-next {
    right: 0;
    background-position: 0 -80px;
}
.bx-wrapper{
	position:relative;
	
	padding:0
}
.banner .bx-wrapper{margin:0 auto 60px;}
.banner .bx-wrapper img{
	display:block;
	position:absolute;
	left:50%;
	margin-left:-900px;
}
.bx-wrapper img{
	display:block;
	margin: 0 auto
}

.banner .bx-wrapper li{ height:460px;}
.bx-wrapper .bx-viewport{
	background:#fff;
	-webkit-transform:translatez(0);
	-moz-transform:translatez(0);
	-ms-transform:translatez(0);
	-o-transform:translatez(0);
	transform:translatez(0)
}

.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{
	position:absolute;
	
	width:100%;
	padding:0
}
.banner .bx-wrapper .bx-controls-auto,.banner .bx-wrapper .bx-pager{bottom:80px;}
#fur-slider .bx-wrapper .bx-controls-auto,#fur-slider .bx-wrapper .bx-pager{bottom:15px;}
.bx-wrapper .bx-loading{
	min-height:50px;
	background:url(../images/img/bx_loader.gif) center center no-repeat #fff;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2000
}
#fur-slider{ position:relative;}
.bx-wrapper .bx-pager{
	text-align:center;
	font-size:.85em;
	font-family:Arial;
	font-weight:700;
	color:#666;
	padding-top:20px;
	z-index:996;
}

.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item{
	float:left
}

.bx-pager.bx-default-pager a{
	background:#dadada;
	text-indent:-9999px;
	display:block;
	width:12px;
	height:12px;
	margin:0 5px;
	outline:0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px
}
.bx-pager{
	text-align:center;
	font-size:.85em;
	font-family:Arial;
	font-weight:700;
	color:#666;
	padding-top:20px;
	z-index:3000
}
.bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 12px;
    height: 12px;
    margin: 0px 5px;
    outline: 0px none;
    border-radius: 6px;
    background: #DADADA none repeat scroll 0% 0%;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #F60 none repeat scroll 0% 0%;
}
/* top city*/
#current-city {
	cursor: pointer;
}
.citys-layer {
	display: none;
	position: absolute;
    left: -71px;
    top: 30px;
	width: 882px;
	height: 108px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	z-index: 998;
}
.city-list {
	width: 882px;
	padding: 10px 0px 0px 13px;
}
.city-list .city {
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	width: 105px;
	height: 95px;
	text-align: center;
	cursor: pointer;
}
.city-name {
	height: 27px;
	font: normal 14px/27px "Microsoft YaHei";
}
.city .city-img {
	opacity: 0.6;
	width:100px;
}
.city-list .city:hover .city-img, .city-list .current .city-img {
	opacity: 1;
}
.city:hover .city-name {
	color: #000;
}
.citys-layer .arrow {
	position: absolute;
	left: 102px;
	top: -10px;
	display: block;
	width: 12px;
	height: 14px;
	background: url(../images/img/common.png) no-repeat -188px -252px;
}
.city-img {
	padding-top: 4px;
}
/*choose city 2015-11-16 E*/
/*city layer start*/
#user-city {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 800;
}
#city-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter:Alpha(opacity=70);
	opacity: 0.7;
	z-index: 801;
}
#city-main {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -215px;
	margin-left: -270px;
	width: 540px;
	height: 430px;
    z-index: 1000;
}
#city-border {
	width: 100%;
	height: 100%;
	opacity: 0.14;
	filter:Alpha(opacity=14);
	background-color: #000;
	z-index: 802;
}
#city-main .layer-content {
	position: absolute;
	margin: 14px;
	width: 512px;
	height: 402px;
	background-color: #fff;
	z-index: 803;
}
.blue-bar {
	height: 48px;
	background-color: #6e9ec9;
}
#city-title {
	float: left;
	padding-left: 15px;
	font: normal 18px/48px "Microsoft YaHei";
	color: #fff;
}
#city-close {
	position: absolute;
	right: 15px;
	top: 15px;
	display: block;
	line-height: 999px;
	width: 19px;
	height: 19px;
	background: url(../img/city_close.png) no-repeat left top;
	overflow: hidden;
}
#city-main .city-content {
	padding: 28px 30px 0 30px;
}
#city-main .to-user {
	font: normal 18px/30px "Microsoft YaHei";
}
#city-main .tips {
	padding-bottom: 29px;
	font: normal 16px/35px "Microsoft YaHei";
	border-bottom: 1px dotted #e5e5e5;
	color: #555555;
}
#city-main .choose {
	padding-top: 25px;
}
.choose .txt {
	float: left;
	font: normal 14px/52px "Microsoft YaHei";
	color: #555555;
}
.city-content .others {
	float: left;
}
.city-content .city-btn {
	float: left;
	width: 98px;
	text-align: center;
	font: 16px/48px "Microsoft YaHei";
	border: 1px solid #dce4e6;
	color: #999999;
	cursor: pointer;
}
.city-content .city-btn:hover {
	border-color: #ff6600;
	color: #333;
}
.city-content .current {
	color: #333;
	border-width: 2px;
}
.choose .city-btn {
	margin: 0 10px;
}
.other-citys {
	clear: both;
	padding: 26px 0 25px 66px;
}
.other-citys .city-btn {
	margin-right: 24px;
}
.coming-soon {
	font: normal 14px/54px "Microsoft YaHei";
	border-top: 1px solid #dce4e6;
	color: #777777;
}
.slidedown .citys-layer {
	display: block;
}
.slidedown .icon {
	background-position: 0 -40px !important;
}
/*city layer end*/
/*footFloor */
#aForm{
	display: none;
}
.user-info{
	height: 40px;
	 position:absolute;
	 top:46px; right:40px;
}
.user-info .your-name input, .user-info .your-telephone input{
	display: block;
	width: 130px;
	height: 36px;
	line-height: 36px;
	margin-right: 2px;
	padding-left: 10px;
	border: 1px solid #e1e2e4;
}
.user-info .sub{
	width: 200px;
	height: 38px;
	font: 18px "Microsoft YaHei";
	background-color: #ff6600;
	color: #fff;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	/*edite xushu 0916*/
	cursor: pointer;
}
.user-info .mr2{
	margin-right: 2px;
}
.user-info .mr10{
	margin-right: 10px;
}
.user-info .select_box .tag_select,.user-info .select_box .tag_select_hover{
	background: url(../images/img/common_v1.png) no-repeat 89px 15px;
	overflow: hidden;
}
.user-info .form-control{
	float: left;
	margin-left: -130px;
}
.user-info .sub{
	width: 200px;
	height: 38px;
	font: 18px "Microsoft YaHei";
	background-color: #ff6600;
	color: #fff;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
/*wushi add 2015-09-15*/
.user-info .select_box{ position:relative; z-index:9999;}
.user-info .select_box .tag_select_open{ background: url(../images/img/common_v1.png) no-repeat 89px -25px;}
.user-info .select_box .tag_options{ background:#fff; border:1px solid #E1E2E4; width:130px; line-height:36px; max-height:216px; overflow-y:auto; bottom:36px; left:-1px;}
.user-info .select_box .tag_options li{ padding:0px 8px 0px 20px;}
.user-info .select_box .open_selected{ background:#f8f9f9;}
.user-info .select_box{
	float: left;
	width: 102px;
	height: 36px;
	padding: 0 8px 0 20px;
	line-height: 36px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #e1e2e4;
	color:#999;
}
#top-bar {
  position: relative;
  width: 100%;
  min-width: 1220px;
  height: 80px;
  overflow: hidden;
}
#top-bar .bar-content {
  position: relative;
  width: 1220px;
  margin: 0 auto;
}
.top-bar-img {
  width: 1220px;
  height: 80px;
  border-width:0;
}
#topbar-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 19px;
  height: 19px;
  z-index: 10;
  background: url(../images/img/top_close.png) no-repeat 0px 0px;
}
#topbar-close:hover {
  background-position: 0px -19px;
}
/* wushi add 2016-01-26 S */
.infoAlert{ background:url(../images/img/infoAlert.png) no-repeat right -94px; width:290px; padding:72px 50px 0 0; position:fixed; bottom:0; right: 0; z-index: 998;}
.infoAlert .hd{ height:40px; background:url(../images/img/infoAlert.png) repeat-x 0 0; padding:0 15px; border-top-left-radius:3px; -moz-border-radius-topleft:3px; -webkit-border-top-left-radius:3px; border-top-right-radius:3px; -moz-border-radius-topright:3px; -webkit-border-top-right-radius:3px;}
.infoAlert .hd .tit{ color:#fff8a0; float:left; font:16px/40px "Microsoft YaHei";}
.infoAlert .hd .close{ float:right; width:12px; height:11px; overflow:hidden; background:url(../images/img/infoAlert.png) no-repeat -162px -55px; text-indent:-9999px; margin-top:14px; cursor:pointer;}
.infoAlert .bd{ color:#666; font:12px/20px "Microsoft YaHei"; text-indent:2em; padding:20px; border:solid 1px #ff2e33; border-bottom-left-radius:3px; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-right-radius:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; background:#fff;}
/* wushi add 2016-01-26 E */