@charset "utf-8";
body {
	background-color: #f5f5f6;
}
#logo .icon-jingyu {
	color: #3b95cc;
}
#local {
    position: absolute;
    left: 3rem;
    top: 0.3125rem;
    font-size: 13px;
    line-height: 2.125rem;
	height: 2.125rem;
    color: #3b95cc;
}
#local:after {
	content:"";
	position: absolute;
	width: 125%;
	height: 100%;
	left: 0;
	top: 0;
}
#local-arrow {
    position: absolute;
	display: inline;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    top: 50%;
	right: -7px;
    border-right: 3px solid transparent;
    border-top: 3px solid #3b95cc;
	overflow: hidden;
    margin-top: -1px;
}
#index-banner {
	position: relative;
	margin-top: 2.6875rem;
	width: 100%;
	height: 9.25rem;
	overflow: hidden;
}
.banner-img {
	width: 100%;
	height: 9.25rem;
}
/*Features*/
#index-feature, #index-form, #price-form, #feature-form {
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

li.feature {
	position: relative;
	float: left;
	margin-top: 0.875rem;
	width: 25%;
	font-size: 0.75rem;
	color: #787878;
	text-align: center;
}
.feature>.iconfont {
	display: block;
	margin: 0 auto;
	width: 2.4375rem;
	height: 2.4375rem;
	text-align: center;
	line-height: 2.4375rem;
	background-color: #666;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.feature>h2 {
	font-size: 0.75rem;
	line-height: 1.75rem;
	padding-bottom: 0.375rem;
}
.feature>.icon-tuku {
	background-color: #ff4e49;
	font-size: 1.25rem;
}
.feature>.icon-koubei {
	background-color: #31bd80;
	font-size: 1.25rem;
}
.feature>.icon-gongdi {
	background-color: #f46c00;
	font-size: 1.275rem;
}
.feature>.icon-te {
	background-color: #fa6e94;
	font-size: 1.075rem;
	line-height: 2.5rem;
}
.feature-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/*Choose citys*/
#location {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 999;
}
#location.slideIn {
	left: 0;
}
#location>h2 {
    width: 100%;
    height: 2.6875rem;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    z-index: 998;
	font-size: 1rem;
    line-height: 2.75rem;
    color: #333;
}
#close-citys {
	position: absolute;
	left: 0.5625rem;
	top: 0;
	color: #a9a9a9;
}
#local-content {
	padding: 0.9375rem 0.5rem 0 0.5rem;
}
#lock-city {
	font-size: 0.75rem;
	line-height: 1.375rem;
	color: #8b8b8b;
}
#your-city {
	font-size: 0.6875rem;
	line-height: 1.5rem;
	color: #999;
}
#other-city {
	padding-bottom: 0.1875rem;
	font-size: 0.75rem;
	line-height: 1.8125rem;
	color: #8b8b8b;
}
#choose-city {
	width: 120%;
}
#local-city {
	color: #f07743;
	padding-right: 0.375rem;
}
#your-city .icon-location {
	margin-right: 0.1875rem;
	color: #f07743;
}
#choose-city>li {
	float: left;
	margin: 0 0.875rem 0.5rem 0;
	width: 3.9375rem;
	height: 1.5625rem;
	line-height: 1.5625rem;
	text-align: center;
	font-size: 0.6875rem;
	color: #333;
	border: 1px solid #efefef;
	-webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    -ms-border-radius: 0.1875rem;
    -o-border-radius: 0.1875rem;
    border-radius: 0.1875rem;
}
#choose-city>li.current {
	color: #36abfd;
	border-color: #36abfd;
}
#city-tip {
	clear: both;
	padding-top: 2.5rem;
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 0.6875rem;
	line-height: 0.9375rem;
}
#active-list>li, #banner-box>li {
	position: relative;
}
#banner-box>li {
	float: left;
	width: 100%;
}
.active-link, .banner-link {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}
/*active*/
#active {
	margin-top: 0.4375rem;
}
#active-list>li {
	margin-bottom: 0.25rem;
	height: 11.4375rem;
    overflow: hidden;
	border: 4px solid #fff;
}
#active-list>li:last-child {
	margin: 0;
}
.active-img {
	display: block;
	width: 100%;
	height: 100%;
}
/*swiper*/
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container-horizontal>.swiper-pagination {
    bottom: 0.3125rem;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 2px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet {
    width: 24px;
    height: 3px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff6600;
}
/*Weibo PC*/
#weibo-pc {
	display: none;
	width: 100%;
}
#weibo-image-link {
	display: block;
	width: 100%;
}
#weibo-image {
	display: block;
	min-width: 100%;
	max-width: 100%;
}
#footer {
	border-bottom: 1px solid #d9d9d9;
}
#index-bottom-tel {
    display: block;
    margin-top: 0.3125rem;
    padding-top: 0.4375rem;
    width: 100%;
    height: 2.4375rem;
    background-color: #fff;
    text-align: center;
}
#tel-icon {
	display: block;
	margin: 0 auto;
	width: 8rem;
	height: 2rem;
	background: url(../img/index_bottom_phone.png) no-repeat left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#my-home {
	position: absolute;
	right: 2.5rem;
	top: 0;
	width: 1.25rem;
    height: 1.25rem;
    margin: 0.625rem 0.4375rem 0 0;
    line-height: 1.25rem;
	text-align: center;
    font-size: 1.2rem;
    background-color: #fff;
    color: #a9a9a9;
    cursor: pointer;
    z-index: 999;
}